$label-success-bg: #76C5C9
$label-info-bg: #6DA4B0
$label-primary-bg: #76C5C9
$label-danger-bg: #9E7570

$list-group-hover-bg: #e4edeb
$list-group-border: #c5d9d5

$btn-primary-bg: #4E5A68
$btn-success-bg: #4E5A68
$btn-info-bg: #76C5C9
$btn-warning-bg: #DEC157
$btn-danger-bg: #9E7570

@import bootstrap-sprockets
@import bootstrap
@import font-awesome
@import bootstrap-select
@import main